<div class="quien-soy-container">
    <h2>¿Quién soy?</h2>
  
    <img src="assets/cin.jpg"  />
  
    <p>Mi nombre es <strong>Cintia Daniela Zanoni</strong>, tengo 39 años y soy estudiante de la Tecnicatura en Programación en la UTN. Este es mi Trabajo Práctico para aprobar la materia Laboratorio IV.</p>
  
    <p>Trabajo en Softing S.R.L y desarrollo en Genexus 17, creamos en equipo sistemas y aplicaciones, como tambien realizamos migraciones de sistemas Win a Web agregando nuevas funcionalidades y mejoras.
        Este es mi primer trabajo en Angular, espero cumplir las espectativas y terminar mi carrera este 2025.

    </p>
        <br>
    <p>
        <strong>Mi juego : </strong>¡Adivina con Emojis! es un juego interactivo donde el objetivo principal es adivinar películas, series o personajes famosos representadas únicamente con emojis.
        Cada partida consiste en una serie de desafíos donde se muestra un conjunto de emojis que representan una idea o título. El jugador debe interpretar visualmente el significado de los emojis y escribir la respuesta correcta.
        Para facilitar el juego, se incluye una pista textual que actúa como una pequeña ayuda. Las respuestas se validan de forma instantánea, y el jugador puede avanzar al siguiente desafío tras cada intento.
        
    </p>

    <button class="volver-btn" routerLink="/">← Volver al menú</button>

  </div>
  