
<div class="juego-container">
    <div class="user-info-inside">
        <span *ngIf="userName">👤 {{ userName }}</span>
        <a class="logout-link" (click)="volverHome()">Home</a>
    </div>
    <h2>Adivina la película con emojis 🎥🍿</h2>
  
    <div class="emoji-grande">{{ peliculaActual.emoji }}</div>
  
    <form (ngSubmit)="verificar()">
      <input type="text" [(ngModel)]="respuestaUsuario" name="respuesta" placeholder="Escribí la película..." required />
      <button type="submit">Verificar</button>
    </form>
  
    <p class="mensaje">{{ mensaje }}</p>
  
    <button (click)="reiniciar()" class="boton-reiniciar">Nueva película</button>


    <div class="boton-volver-home">
        
        
      </div>
  </div>

 
