:host {
  display: block;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

.home-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px; 
  background-image: url('/assets/10523687.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.solicitar-turno-btn {
  background-color: #2376eb;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.solicitar-turno-btn:hover {
  background-color: #1a5ed8;
}


.content-box {
  margin-top: 30px; 
  background-color:#e6f4fa;
  padding: 2rem;
  border-radius: 20px;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.avatar-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.logout-link {
  font-weight: bold;
  color: #2e27f1;
  cursor: pointer;
  text-decoration: underline;
}
.turno-card {
  background-color: #ffffff;
  border-radius: 14px;
  margin: 20px 0;
  padding: 1rem;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.turno-info p {
  margin: 5px 0;
}

.acciones {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.acciones button {
  background-color: #2376eb;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background 0.3s ease;
}

.acciones button:hover {
  background-color: #1a5ed8;
}

.confirmado {
  color: green;
  font-weight: bold;
}
.cancelado {
  color: red;
  font-weight: bold;
}
.pendiente {
  color: orange;
  font-weight: bold;
}
.pendiente {
  color: orange;
  font-weight: bold;
}
.cancelado {
  color: red;
  font-weight: bold;
}
.confirmado{
  color: green;
  font-weight: bold;
}
