<div class="home-container">
    <div class="user-info">
      <span *ngIf="userName">👤 {{ userName }}</span>
      <img *ngIf="avatarUrl" [src]="avatarUrl" alt="Avatar" />
      <a class="logout-link" (click)="logout()">logout</a>
    </div>
  
    <h1>📍 Elegí un juego</h1>
  
    <div class="botones-juegos">
      <button (click)="irAJuego('ahorcado')">🪢 Ahorcado</button>
      <button (click)="irAJuego('mayor-menor')">🔢 Mayor o Menor</button>
      <button (click)="irAJuego('preguntados')">❓ Preguntados</button>
      <button (click)="irAJuego('adivina-emojis')">😊 Adivina con Emojis</button>
    </div>
  </div>
  
