:host {
  display: block;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

.home-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px; 
  background-image: url('/assets/10523687.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-box {
  margin-top: 30px; 
  background-color:#e6f4fa;
  padding: 2rem;
  border-radius: 20px;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.avatar-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.logout-link {
  font-weight: bold;
  color: #2e27f1;
  cursor: pointer;
  text-decoration: underline;
}
