<div class="form-container">
    <h2>Registrarse</h2>
    <form (ngSubmit)="registrarse()">
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Correo electrónico"
        required
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required
      />
      <input
        type="text"
        [(ngModel)]="nombre"
        name="nombre"
        placeholder="Nombre"
        required
      />
      <input
        type="number"
        [(ngModel)]="edad"
        name="edad"
        placeholder="Edad"
        required
      />
      <input
        type="text"
        [(ngModel)]="avatar_url"
        name="avatar_url"
        placeholder="URL del Avatar"
      />
      <button type="submit">Registrarse</button>

      <p class="register-link">
        ¿Ya tenés cuenta? <a routerLink="/login">Ingresá</a>
      </p>
    </form>
  </div>
  