<div class="form-container">
  <form (ngSubmit)="registrarse()">
    <h2>Registro Paciente</h2>

    <input type="text" placeholder="Nombre" [(ngModel)]="nombre" name="nombre" required />
    <input type="text" placeholder="Apellido" [(ngModel)]="apellido" name="apellido" required />

    <input type="number" placeholder="Edad" name="edad" [(ngModel)]="edad" #edadRef="ngModel" required min="0" />
    <div *ngIf="edadRef.invalid && edadRef.touched" class="error-message">
      <small *ngIf="edadRef.errors?.['required']">La edad es obligatoria</small>
      <small *ngIf="edadRef.errors?.['min']">La edad no puede ser negativa</small>
    </div>

    <input type="text" placeholder="DNI" name="dni" [(ngModel)]="dni" #dniRef="ngModel" required pattern="^[0-9]{8}$" />
    <div *ngIf="dniRef.invalid && dniRef.touched" class="error-message">
      <small *ngIf="dniRef.errors?.['required']">El DNI es obligatorio</small>
      <small *ngIf="dniRef.errors?.['pattern']">El DNI debe tener exactamente 8 dígitos</small>
    </div>

    <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
    <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required />

    <p><strong>Rol:</strong> Paciente</p>

    <input type="text" placeholder="Obra Social" [(ngModel)]="obraSocial" name="obraSocial" />

    <label>Imágenes de perfil:</label>
    <input type="file" (change)="seleccionarArchivo($event)" multiple accept="image/*" />
    



    <app-captcha
      [siteKey]="'6Lc4OmIrAAAAANLBzwMxzELcV9uhcK9Wsc617p4n'"
      (captchaResuelto)="resolverCaptcha($event)">
    </app-captcha>




    <button type="submit">Registrarse</button>

    <div *ngIf="mensaje" style="color: green; margin-top: 10px;">{{ mensaje }}</div>
    <div *ngIf="error" style="color: red; margin-top: 10px;">{{ error }}</div>

    <button class="volver-btn" type="button" (click)="router.navigate(['/'])">Volver al inicio</button>
  </form>
</div>
