/*body {
  margin: 0;
  padding: 0;
  background-image: url('/assets/10523687.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', sans-serif;
}*/

:host{
    display: block;
    min-height: 100vh;
    background-image: url('/assets/10523687.jpg');
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  }

.form-container {
  max-width: 400px;
  margin: 10vh auto;
  background:  #e6f4fa;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  color: #24aceb; 
  margin-bottom: 25px;
}

input {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background: #f0f0f0;
}

button {
  width: 100%;
  padding: 12px;
  background-color:  #2376eb; 
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #24aceb; 
  }
}

.testing-buttons {
  margin-top: 15px;

  button {
    margin-top: 10px;
    background-color:  #24aceb; 

    &:hover {
      background-color:#2376eb;
    }
  }
}

.register-link {
  margin-top: 20px;
  font-size: 14px;

  a {
    color: #24aceb; 
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.volver-btn {
  margin-top: 1.5rem;
  background-color:#2376eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.volver-btn:hover {
  background-color: #2376eb;
}
.spinner {
  margin-top: 20px;
  text-align: center;
}

.spinner img {
  width: 60px;
  height: 60px;
}

